__pycache__
.pytest_cache/
app.egg-info
.idea/*
!/.idea/runConfigurations/
.venv/
venv/
db.sqlite3
*.pyc
static/*
nginx/conf.d/sites-enabled/
nginx/certbot/*
db_data/
.env
.DS_Store
.vscode
media/
.rabbitmq-env
engines/scientific_engine/data
*.pkl
*_pb2.py
*_pb2.pyi
*_pb2_grpc.py
*.db
*.env*
.coverage
coverage.xml
poetry.lock
*.mako